body {
	background-color: gray;
}

body.list {
	background-color: gray;
}


.href {
	color: black;
	font-style: italic;
}

.header {
	color: brown;
	font-size: 24px;
}

.error {
	color: red;
	
}
h2.main {
	color: brown;
	
}

h3.main {
	color: brown;
}